target/*
!target/*.jar
target/*.jar.original
target/generated-sources/
target/maven-status/
target/surefire-reports/
target/test-classes/

**/.idea/
**/.vscode/
**/*.iml
**/.DS_Store
**/node_modules/
**/dist/

.git
.gitignore
README.md
*.log
